@media (max-width: 80.0rem) {
  main {
    margin: 0 1em;
  }
}

@media (min-width: 80.0rem) {
  main {
    max-width: 120rem;
    margin: 0 auto;
  }
}


a {
  color: #9C8D6C;
}

@media (max-width: 80.0rem) {
  hr {
    width: 100%;
  }
}

@media (min-width: 80.0rem) {
  hr {
    width: 48.0rem;
  }
}

hr {
  background-color: #272423;
  border: none;
  height: 2px;
}

label {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 80.0rem) {
  .noUi-pips {
    font-size: 1.2rem;
  }
  .noUi-value-horizontal {
    transform: translate(-50%, 100%);
  }
}

@media (min-width: 80.0rem) {
  .noUi-pips {
    font-size: 1.5rem;
  }
}

.noUi-pips {
  color: unset;
}

.noUi-marker {
  background-color: #272423;
}

.noUi-handle::after, .noUi-handle::before {
  all: unset;
}

.noUi-horizontal {
  height: 6px;
}

.noUi-target {
  background-color: #9C8D6C44;
  border: none;
  box-shadow: none;
  margin-bottom: 6rem;
}

.noUi-horizontal .noUi-handle {
  width: 28px;
  height: 28px;
  right: -14px;
  top: calc(-6px - (18px - 6px)/2);
}

.noUi-handle {
  box-shadow: none;
  background-color: #9C8D6C;
  border-radius: 14px;
  border: none;
}

.noUi-connect {
  background-color: #9C8D6C99;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #9C8D6C;
  border-color: #9C8D6C;
  font-family: "'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif";
}

.button:focus, .button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  background-color: #272423;
  border-color: #272423;
}


h1 {
  font-size: 6.9rem;
  font-weight: 700;
}

h2 {
  font-size: 5.4rem;
}

h3 {
  font-size: 4.2rem;
}

h4 {
  font-size: 3.3rem;
}

h5 {
  font-size: 2.7rem;
}

h6 {
  font-size: 2.4rem;
}

body {
  font-family: "Bodoni 11";
  font-weight: 400;
  font-size: 2.4rem;
  padding-top: 1rem;
  background-color: #fbfaf9;
  color: #272423;
}

#result, #rng {
  visibility: hidden;
}
