@media (max-width: 80.0rem) {
  main {
    margin: 0 1em;
  }
}

@media (min-width: 80.0rem) {
  main {
    max-width: 120rem;
    margin: 0 auto;
  }
}


a {
  color: #A9855B;
}

@media (max-width: 80.0rem) {
  hr {
    width: 100%;
  }
}

@media (min-width: 80.0rem) {
  hr {
    width: 48.0rem;
  }
}

hr {
  background-color: #333333;
  border: none;
  height: 2px;
}

label {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 80.0rem) {
  .noUi-pips {
    font-size: 1.0rem;
  }
  .noUi-value-horizontal {
    transform: translate(-50%, 100%);
  }
}

@media (min-width: 80.0rem) {
  .noUi-pips {
    font-size: 1.5rem;
  }
}

.noUi-pips {
  color: unset;
}

.noUi-marker {
  background-color: #333333;
}

.noUi-handle::after, .noUi-handle::before {
  all: unset;
}

.noUi-horizontal {
  height: 6px;
}

.noUi-target {
  background-color: #A9855B44;
  border: none;
  box-shadow: none;
  margin-bottom: 6rem;
}

.noUi-horizontal .noUi-handle {
  width: 28px;
  height: 28px;
  right: -14px;
  top: calc(-6px - (18px - 6px)/2);
}

.noUi-handle {
  box-shadow: none;
  background-color: #A9855B;
  border-radius: 14px;
  border: none;
}

.noUi-connect {
  background-color: #A9855B88;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #A9855B;
  border-color: #A9855B;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.button:focus, .button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  background-color: #333333;
  border-color: #333333;
}


h1 {
  font-size: 6.9rem;
  font-weight: 700;
  font-family: "Bodoni 24";
}

h2 {
  font-size: 5.4rem;
  font-family: "Bodoni 24";
}

h3 {
  font-size: 4.2rem;
  font-family: "Bodoni 16";
}

h4 {
  font-size: 3.3rem;
  font-family: "Bodoni 16";
}

h5 {
  font-size: 2.7rem;
}

h6 {
  font-size: 2.4rem;
}

body {
  font-family: "Bodoni 11";
  font-weight: 400;
  font-size: 2.4rem;
  padding-top: 1rem;
  background-color: #f8f8f8;
  color: #333333;
  letter-spacing: unset;
}

#result, #rng {
  display: none;
}

#result {
  padding-bottom: 1em;
  overflow-wrap: break-word;
  hyphens: auto;
}

h6.float-right {
  padding-top: calc((3.8rem - 2.4rem)/2);
}

@media(max-width: 80.0rem) {
  h6.float-right {
    padding-top: calc((3.8rem - 1.6rem)/2);
    font-size: 1.6rem;
  }
}
